<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ECS Anywhere</title>
</head>

<body style="background-color:rgb(35, 47, 62);">
  <div style='vertical-align: middle; margin:auto; width:50%; padding-top:200px; text-align: center;'>
    <div style='font-size: 20px; font-family: "Gill Sans", sans-serif; color: white;'>
      You reached <%= hostname %><br />
        <br />
        Uptime: <%= uptime %>
          <br />
          CPU: <%= cpu %>
            <br />
            Network: <%= network %>
              <br />
              Metadata: <%= metadata %>
    </div>
  </div>
</body>

</html>